<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- Mybatis가 JDBC를 사용하기 위해 기본적인 Connection과 SQL을 설정하는 곳 -->
<configuration>
	<properties resource="com/smhrd/db/db.properties" />

	<typeAliases>
		<typeAlias type="com.smhrd.model.CommentVO" alias="CommentVO" />
		<typeAlias type="com.smhrd.model.FavVO" alias="FavVO" />
		<typeAlias type="com.smhrd.model.FestivalsVO" alias="FestivalsVO" />
		<typeAlias type="com.smhrd.model.RecommendVO" alias="RecommendVO" />
		<typeAlias type="com.smhrd.model.ReviewVO" alias="ReviewVO" />
		<typeAlias type="com.smhrd.model.SingersVO" alias="SingersVO" />
		<typeAlias type="com.smhrd.model.UsersVO" alias="UsersVO" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/smhrd/db/MemberMapper.xml" />
		<mapper resource="com/smhrd/db/FestivalMapper.xml" />
		<mapper resource="com/smhrd/db/SingersMapper.xml" />
		<mapper resource="com/smhrd/db/ReviewMapper.xml" />
	</mappers>
</configuration>